.loader {
    border: 4px solid #2e86b9;
    border-top: 4px solid var(--color-dark-mid);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
    margin: 20px 0;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}