.carcard{
    height: auto;
    align-self: flex-start;
    background: transparent;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 20px;
}
.carcard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
