.carcard{
    align-self: flex-start;
    background: transparent;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 20px;
    max-width: 800px;
}
.carcard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
.carcard:hover{
    background: rgba(255, 255, 255, 0.32);
    border-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 6px 14px rgba(0,0,0,0.22);
    transform: translateY(-2px);
}
