.customerviewcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Så många kort som möjligt får plats per rad. 
    korten ändrar även storlek beroende på vad som får plats men blir aldrig mindre än 200px*/
    gap: 1.2rem;
    width: 100%;
}
