.home {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  max-width: 700px;
  width: 100%;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 30px 40px;
  

  text-align: center;
}


