.header {
  width: 100%;
  height: auto;
  max-height: 120px;

  display: flex;
  align-items: center;

  position: relative;

  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
}


.logo {
    height: 100%;    
    max-height: 80px; 
    width: auto;
    object-fit: contain;
    border-radius: 20px;
}


.header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;

  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
