.sidebar {
    width: 10%;
    min-width: 55px;
    max-width: 200px;
    height: auto;
    border-collapse: collapse;
    border-radius: 20px;
    align-self: flex-start;
    flex-shrink: 0;
    

    background: transparent;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
}
.sidebar nav {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px; /* spacing finally works */
}

