.sidebar {
    width: 8%;
    min-width: 70px;
    max-width: 130px;
    height: 100%;
    border-collapse: collapse;
    border-radius: 20px;

    background: transparent;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
}