.advertisement{
    width: 10%;
    height: auto;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    background: transparent;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.advertisement h1 {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
}
.advertisement img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}