.advertisement{
    width: 12%;
    height: auto;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    background: transparent;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
}

.advertisement h1 {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: center;
}